.messages
  color #fff
  text-transform: none

  .no-messages
    padding-top 70px
    color #212121
    text-align center

  .list
    padding-top 40px
    height 100%

  .message-form
    cf()
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: auto
    transform: translateY(-215px)
    width: 100%
    background #f4f4f4
    border-bottom 2px solid #ccc
    transition transform 0.3s
    &.open
      transform: translateY(43px)
    .Select-control
      background #f4f4f4
      border-bottom 1px solid #e0e0e0
    .Select-input
      height 40px
      line-height 40px

    .Select-placeholder
      top 7px
      font-size 16px
      height 40px

    .body-input
      width 100%
      textarea
        height 40px
        padding-left 10px
    .actions
      cf()
      padding-top 15px
      padding-bottom 15px
      .button
        text-align center
        margin-right 10px
        float right
.mui-text-field .mui-text-field-underline, .mui-text-field .mui-text-field-focus-underline
  bottom -2px 
.mui-floating-action-button .mui-floating-action-button-container
  background-color: #009688

.add-message
  position fixed
  bottom 40px
  right 40px
  
.mui-text-field .mui-text-field-hint
  left 10px