.message-item
  margin 10px 10px
  color #212121
  .padded
    padding 5px
  .message-inner
    cf()
    .message-icon
      col(0.15)
      text-align center
      i
        &.sending
          color #795548
        &.outcoming
          color:#388E3C
        &.incoming
          color:#AFB42B
        &.fail
          color: #F44336


        line-height 50px
        color #212121 

    .message-content
      padding-top 5px
      col(0.85)
      .phone
        height 25px

      .message-text
        height 20px
        white-space: nowrap
        line-height 16px
        overflow hidden
        text-overflow: ellipsis

