@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?qs5x0l');
	src:url('fonts/icomoon.eot?#iefixqs5x0l') format('embedded-opentype'),
		url('fonts/icomoon.ttf?qs5x0l') format('truetype'),
		url('fonts/icomoon.woff?qs5x0l') format('woff'),
		url('fonts/icomoon.svg?qs5x0l#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-paperplane:before {
	content: "\e608";
}
.icon-custom-arrow-drop-right:before {
	content: "\e60b";
}
.icon-dashboard:before {
	content: "\e605";
}
.icon-home:before {
	content: "\e607";
}
.icon-settings:before {
	content: "\e606";
}
.icon-exit-to-app:before {
	content: "\e604";
}
.icon-delete:before {
	content: "\e612";
}
.icon-search:before {
	content: "\e611";
}
.icon-loop:before {
	content: "\e613";
}
.icon-repeat:before {
	content: "\e614";
}
.icon-close:before {
	content: "\e615";
}
.icon-sms-failed:before {
	content: "\e610";
}
.icon-cloud-upload:before {
	content: "\e61a";
}
.icon-edit:before {
	content: "\e616";
}
.icon-person:before {
	content: "\e617";
}
.icon-person-add:before {
	content: "\e61b";
}
.icon-person-outline:before {
	content: "\e618";
}
.icon-star:before {
	content: "\e60f";
}
.icon-star-outline:before {
	content: "\e619";
}
.icon-chat:before {
	content: "\e600";
}
.icon-email:before {
	content: "\e601";
}
.icon-lock:before {
	content: "\e602";
}
.icon-mail:before {
	content: "\e603";
}
.icon-paper-plane:before {
	content: "\e60c";
}
.icon-arrow-with-circle-left:before {
	content: "\e609";
}
.icon-arrow-with-circle-right:before {
	content: "\e60a";
}
.icon-dots-three-vertical:before {
	content: "\e60d";
}
.icon-dots-two-vertical:before {
	content: "\e60e";
}
.icon-plus:before {
	content: "\e61c";
}
.icon-users:before {
	content: "\e972";
}
.icon-exit:before {
	content: "\ea14";
}
.icon-arrow-up-left2:before {
	content: "\ea39";
}
.icon-arrow-down-right2:before {
	content: "\ea3d";
}
.icon-cancel-circle:before {
	content: "\ea0d";
}
.icon-table2:before {
	content: "\ea71";
}
