@import 'jeet'
@import '../messages/messages.styl'
@import '../messages/message-item.styl'
.header
  cf()
  padding 10px
  position fixed
  z-index 100
  top 0
  left 0
  width 100%
  background rgba(0, 150, 136, 1)
  .title
    col(2/3)
    color #fff
    text-transform initial
    font-size 16px

  .actions
    font-size 18px
    line-height 18px
    col(1/3)
    a
      text-decoration initial
    .icon
      float right
.padded
  padding 20px

.icon
  color: #fff
  font-size:24px
.Select-item
  color: #212121
  border: 1px solid #b2dfdb
  background-color: #b2dfdb
  .Select-item-icon
    &:hover
      background-color transparent
      color #727272
    border-right 1px solid rgba(114, 114, 114, 0.13)
    padding: 2px 10px 4px;
    
.Select-menu-outer
  .Select-option
      &.is-focused
          background-color #eee
