@import "../node_modules/material-ui/src/less/scaffolding.less";
@import "../node_modules/material-ui/src/less/components.less";
@import '../node_modules/react-select/less/default.less';
@import '../node_modules/react-select/less/multi.less';

@primary-1-color: #009688;
@flat-button-secondary-hover-color: #B2DFDB;
@raised-button-primary-hover-color: #00796B;
@raised-button-primary-color: #009688;
