.login-form
    z-index: 510
    background #fff
    margin 0 10px

    .mui-text-field,
    .mui-text-field-input
        width: 100%

    .loginButton
        margin-top: 30px
        with 100%

    .password-input
        margin-top 20px

    .switch-form-button
        margin-top: 10px

    .secondary-buttons
        text-align: center
        margin-bottom: 20px

    .autherror
        text-align center
        opacity 1 
        padding-bottom 20px
        position: absolute
        top: 0
        left: 0
        text-align: center
        width: 100%
        color red
        transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1)

        &.hide
            opacity 0
            transform translateY(-10px)
            

    .button-wrap
        position: relative
        text-align: center
        height: 80px

        .spinner
            top: -2px
        .loginButton
            top: 0
            left: 0
            width: 100%
            position: absolute
            transform: scale(1)
            opacity: 1
            z-index 5
            transition: all 0.2s ease-in
            button
                padding 7px 0
            &.hide
                opacity: 0
                transform: scale(0.5),
                z-index -1

    .resetPassword
        h2
            font-size 20px
            margin-bottom 0
            text-align center


.login-wrap
    top: 20px
    width: 100%
    position: absolute
    .login-content
        padding-top 40px

.login-header
    margin-bottom: 30px
    font-size: 32px
    text-align: center
    text-transform: initial
    color #727272

.verify
    h3
        text-align: center
        color:#727272
        font-size: 20px
    h4
        color #212121
        font-size: 14px
        font-weight: bold
        padding-top: 0
.login-subheader
    text-align: center
    font-size: 16px

